/* Basisindstillinger */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Header og navigation */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    position: relative;
    z-index: 2
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    margin: 0;
}

.logo a {
    color: #fff;
    text-decoration: none;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.nav-links a:hover,
.nav-links .active {
    text-decoration: underline;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-container input[type="text"] {
    padding: 5px;
    font-size: 16px;
}

.search-container button {
    padding: 5px 10px;
    background-color: #555;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left: 5px;
}

.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px;
}

/* Flexbox layout for main content */
main {
    flex: 1;
    padding: 20px;
}

.frontpage-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.image-box {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.image-box img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
}

.image-box:hover {
    transform: translateY(-5px);
    background-color: #e9e9e9;
}

/* Footer styling */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    margin-top: auto;
}

/* Responsiv design */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        background-color: #333;
        flex-direction: column;
        align-items: center;
        z-index: 1;
    }

    .nav-links.menu-active {
        display: flex;
    }

    .burger {
        display: flex;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .nav-links a {
        font-size: 20px;
    }
}
